@{
    ViewBag.Title = "Bio";
}
<img src="~/Images/me.png" class="img-responsive" alt="James Creek" />
<p>
    Passionate about technology and engineering solutions; enjoying problem solving with the progressive attitude that there is always an answer. My interests lie in machine learning and using technology to help solve problems across the board. Post grad I plan on getting my Masters Degree in CS focusing on Machine Learning and Leadership.
</p>

