@{   
 ViewBag.Title = "Books";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h2>Books</h2>
        </div>
        <!-- 1st book -->
        <div class="col-md-2">
            <img src="~/Images/Win.png" class="img-responsive" alt="James Creek" />
            <p>How To Argue And Win Every Time</p>
        </div>
        <!-- 2nd book -->
        <div class="col-md-2">
            <img src="~/Images/Fif.png" class="img-responsive" alt="James Creek" />
            <p>The Fifties</p>
        </div>
        <!-- 3rd book-->
        <div class="col-md-2">
            <img src="~/Images/RedOct.png" class="img-responsive" alt="James Creek" />
            <p>The Hunt For The Red October "The Book"</p>
        </div>
        <!-- 4th book-->
        <div class="col-md-2">
            <img src="~/Images/air.jpg" class="img-responsive" alt="James Creek" />
            <p>Airframe</p>
        </div>
        <!-- 5th book-->
        <div class="col-md-2">
            <img src="~/Images/RedSpar.png" class="img-responsive" alt="James Creek" />
            <p>Red Sparrow</p>
        </div>

    </div>
</div>


