@{
    ViewBag.Title = "Home Page";
}
<!--This page is just a filler; link to 3 search engines-->
<div class="jumbotron">
    <h1>Online Search</h1>
    <p class="lead">Use one of the below search engines to quickly find what your looking for on the web or if your not sure, just google it.</p>
    <p><a href="http://asp.net" class="https://www.google.com/">Google It &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Google</h2>
        <p>
            Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Yahoo</h2>
        <p>Yahoo! is a web services provider that is wholly owned by Verizon Communications through Oath Inc., and headquartered in Sunnyvale, California.</p>
        <p><a class="btn btn-default" href="https://www.yahoo.com/">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Bing</h2>
        <p>Bing is a web search engine owned and operated by Microsoft. The service has its origins in Microsoft's previous search engines: MSN Search, Windows Live Search and later Live Search.</p>
        <p><a class="btn btn-default" href="https://www.bing.com/">Search &raquo;</a></p>
    </div>
</div>