@{
    ViewBag.Title = "Movies";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h2>Movies</h2>
        </div>
        <!-- 1st Movie -->
        <div class="col-md-2">
            <img src="~/Images/Day.png" class="img-responsive" alt="James Creek" />
            <p>Trainning Day</p>
        </div>
        <!-- 2nd Movie-->
        <div class="col-md-2">
            <img src="~/Images/Don.png" class="img-responsive" alt="James Creek" />
            <p>Last Don</p>
        </div>
        <!-- 3rd Movie -->
        <div class="col-md-2">
            <img src="~/Images/God1.png" class="img-responsive" alt="James Creek" />
            <p>The Godfather Part 1</p>
        </div>
        <!-- 4th Movie-->
        <div class="col-md-2">
            <img src="~/Images/God2.png" class="img-responsive" alt="James Creek" />
            <p>The Godfather Part 2</p>
        </div>
        <!-- 5th Movie-->
        <div class="col-md-2">
            <img src="~/Images/Vin.png" class="img-responsive" alt="James Creek" />
            <p>My Cousin Vinny</p>
        </div>

    </div>
</div>
